.wrapper {
  position: relative;
}

.wrapper:hover {
  transition: transform 0.3s ease-out 0s;
  border-radius: 12px;
  transform: translateY(-4px);
}

.contentImg {
  width: 100%;
  height: 100%;
}

.nic {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-weight: bold;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}
